<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <h1>Country Info</h1>

    <%- include('./partials/nav.ejs') %>

    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>